.custom-cursor {
  cursor: url("../mur/banana.cur"), auto;
}

body {
  background-image: url("../mur/yellowbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
